<%= link_to "Cars", '/cars' %>

<h1><%= @dealership.name %></h1>
<p>City: <%= @dealership.city %></p>
<p>Amount of charging stations: <%= @dealership.charging_stations %></p>
<p>Allows Leasing? <%= @dealership.leasing %></p>
